@import "tailwindcss";

@theme {
  --animate-move-left: move-left 1s linear infinite;

  @keyframes move-left {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}

body,
html,
main {
  height: 100%;
}

body,
html {
  width: 100%;
  cursor: default;
  overflow-wrap: break-word;
  background-color: #090909;
  color: #a8a29e;
  font-size: 13px;
}

.space-y-8 > :not([hidden]) {
  margin-bottom: 0 !important;
}

.space-y-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse))) !important;
  margin-bottom: calc(2rem * var(--tw-space-y-reverse)) !important;
}
